.input-form{
    width: 99%;
    border: 2px solid transparent;
    outline: none;
    margin-bottom: .8rem;
    margin-top: .7rem;
    font-size: 2rem;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #343d46;
    padding-left: 1%;
    padding: .5rem 0;
    color:#ffb366;
    transition: all .15s;
}

.input-form-success{
    width: 99%;
    border: 2px solid transparent;
    outline: none;
    margin-bottom: .8rem;
    margin-top: .7rem;
    font-size: 2rem;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #343d46;
    padding-left: 1%;
    color:#4dffb8;
    transition: all .15s;

}


.input-form-error{
    width: 99%;
    border: 2px solid transparent;
    outline: none;
    margin-bottom: .8rem;
    margin-top: .7rem;
    font-size: 2rem;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #343d46;
    padding-left: 1%;
    color:#ff8080;
    transition: all .15s;

}
.input-form-error:focus{
    color: #ffb366;
    
}
.input-form-error::placeholder{
    color: #ff8080;
}

.input-form-success:focus {
    color: #ffb366;
    transition: all .25s;
}

.input-form:focus{
    color: #ffb366;
    transition: all .25s;
}

.input-form-error:focus::placeholder{
    opacity: .5;
}

.input-form:focus::placeholder{
    opacity: .5;
}

.input-form::placeholder{
    color: #ffb366;
    opacity: 1;
    font-weight: 450;
}

.input-form:focus{
    background-color: #343d46;
    color: #ffb366;
}

.input-form:focus .login-text{
    font-size: 4rem;
}

.login-button{
    width:100%;
    height: 3rem;
    background-color: #343d46;
    
    border: 4px solid transparent;
    border-bottom: 4px solid #c0c5ce;
    color: #c0c5ce;
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    transition: all .1s;
    margin-top: .8rem;
    text-align: center;
    padding-top: 1rem;
    user-select: none;
}

.login-button:hover{
    color: #ffb366;
    border: 4px solid #ffb366;
}

.login-button:active{
    transform: translate(0, .5rem);
}

.login-text{
    font-size: 1.5rem;
    margin: .5rem 0;
}

.chart-label{
    font-size: 1.3rem;
}